{% extends "base.html" %}

{% block title %}Panel agenta{% endblock %}

{% block content %}
<h2>Lista klientów:</h2>
<ul>
  {% for client in clients %}
    <li>{{ client.first_name }} {{ client.last_name }} {{ client.pesel }}</li>
  {% endfor %}
</ul>

<h2>Lista polis:</h2>
<ul>
  {% for policy in policies %}
    <li>Numer polisy: {{ policy.id }}, Klient: {{ policy.client }}, Samochód: {{ policy.car }}</li>
  {% endfor %}
</ul>

<h2>Lista samochodów:</h2>
<ul>
  {% for car in cars %}
    <li>{{ car.make }} {{ car.model }} (Rok produkcji: {{ car.year }})</li>
  {% endfor %}
</ul>
{% endblock %}
